.App-header {
  background-color: #282c34;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Content {
  width: 1200px;
  margin: 0 auto;
}
.Employee-List {
  table {
    width: 100%;
  }
  thead {
    background-color: lightgray;
  }
}
.Department-Filter {
  display: flex;
  width: 100%;
}
.Department-Filter select {
  margin: 10px;
}

.employeeName {
  cursor: pointer;
}
